---
import Layout from '@/layouts/Layout.astro'

import AboutMe from '@/components/AboutMe.astro'
import BriefcaseIcon from '../icons/BriefcaseIcon.astro'
import CodeIcon from '../icons/CodeIcon.astro'
import Experience from '../components/Experience.astro'
import ProfileIcon from '@/icons/ProfileIcon.astro'
import Projects from '../components/Projects.astro'
import SectionContainer from '../components/SectionContainer.astro'
import Hero from '@/components/Hero.astro'
---

<Layout
  title="Eduard Ferré's Portfolio - Software Engineer"
  description="Hire Eduard Ferré to develop full stack applications. Software Engineer and Data Analytics student. Experience with Java, JavaScript/TypeScript, Python and database management (SQL and noSQL)."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero>
        <slot />
      </Hero>
    </SectionContainer>
    <div class="space-y-16 md:space-y-24">
      <SectionContainer id="experience">
        <h2
          class="text-2xl md:text-3xl text-black/80 dark:text-white font-semibold
              flex flex-row items-center gap-x-4 mb-6"
        >
          <BriefcaseIcon class="size-6 md:size-7" /> Job Experience
        </h2>
        <Experience />
      </SectionContainer>
      <SectionContainer id="projects">
        <h2
          class="text-2xl md:text-3xl text-black/80 dark:text-white font-semibold
              flex flex-row items-center gap-x-4 mb-6"
        >
          <CodeIcon class="size-6 md:size-7" /> Projects
        </h2>
        <Projects />
      </SectionContainer>

      <SectionContainer id="about-me">
        <h2
          class="text-2xl md:text-3xl text-black/80 dark:text-white font-semibold
              flex flex-row items-center gap-x-4 mb-6"
        >
          <ProfileIcon class="size-6 md:size-7" /> About Me
        </h2>

        <AboutMe />
      </SectionContainer>
    </div>
  </main>
</Layout>
