<arcticle
  class="flex flex-col justify-center items-center gap-8 md:flex-row
              text-gray-700 dark:text-gray-300"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-purple-900 dark:[&>p>strong]:text-purple-600 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      ¡Soy Eduard, aunque todo el mundo me conoze como Edu! A mis 15 años
      aprendí lógica de programación siendo capaz de crear un Brick Breaker con
      Visual Basic. Años más tarde cursé un <strong
        >doble grado de Ingeniería Aeroespacial e Ingeniería Telemática</strong
      >.
    </p>

    <p>
      Aunque durante la carrera desarrollé múltiples proyectos con distintas
      tecnologías, no fue hasta el último año que me decidí a desarrollar
      software y <strong
        >trabajar como becario para G+D durante más de un año</strong
      >.
    </p>

    <p>
      Allí aprendí a <strong
        >trabajar en un <em class="italic">equipo Agile</em> y adaptarme a nuevas
        tecnologías</strong
      >. Durante mi evolución como <strong
        ><em class="italic">Software Engineer Intern</em></strong
      >, creé una aplicación para el gimnasio como trabajo de final de grado,
      que terminó siendo un gran éxito.
    </p>
  </div>
  <img
    loading="lazy"
    src="/aboutImage.webp"
    alt="Eduard Ferré about me photo"
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-purple-800/30 dark:bg-purple-200 ring-1 ring-purple-800/60 dark:ring-white/20"
    style="object-position: 50% 50%;"
  />
</arcticle>
