---
import ExperienceItem from './ExperienceItem.astro'

const EXPERIENCE = [
  {
    startDate: 'August 2023',
    endDate: 'August 2024',
    title: 'Software Engineer Internship',
    company: 'Giesecke+Devrient',
    description:
      'Full Stack Developer involved in the development of multiple backend solutions with Java and JavaScript/TypeScript, and in the design of a website using Angular.',
    link: 'https://www.gi-de.com/',
    technologies: [
      'Java',
      'SQL',
      'JavaScript',
      'TypeScript',
      'MongoDB',
      'Angular',
      'Git',
      'SCRUM',
      'API Rest',
      'Jira',
      'Confluence',
      'Bitbucket'
    ]
  },
  {
    startDate: 'February 2023',
    endDate: 'July 2023',
    title: 'Researcher',
    company: 'Universitat Politécnica de Catalunya',
    description:
      'Research on indoor light energy harvesting. Responsible for conducting multiple studies on photovoltaic cells under various types of light at different levels of light intensity.',
    link: 'https://doi.org/10.3390/proceedings2024097149',
    technologies: ['Matlab', 'KiCad', 'BenchVue', 'AvaSoft']
  }
]
---

<ol class="relative mt-8 md:mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
