---
import ExperienceItem from './ExperienceItem.astro'

const EXPERIENCE = [
  {
    startDate: 'August 2023',
    endDate: 'August 2024',
    title: 'Software Engineer Internship',
    company: 'Giesecke+Devrient',
    description:
      'Desarrollador Full Stack involucrado en el desarrollo de múltiples soluciones backend con Java y JavaScript/TypeScript, y del diseño de una página web con Angular.',
    link: 'https://www.gi-de.com/',
    technologies: [
      'Java',
      'SQL',
      'JavaScript',
      'TypeScript',
      'MongoDB',
      'Angular',
      'Git',
      'SCRUM',
      'API Rest',
      'Jira',
      'Confluence',
      'Bitbucket'
    ]
  },
  {
    startDate: 'February 2023',
    endDate: 'July 2023',
    title: 'Researcher',
    company: 'Universitat Politécnica de Catalunya',
    description:
      'Investigación sobre la captación de energía lumínica en interiores. Encargado de realizar múltiples estudios de celdas fotovoltaicas bajo varios tipos de luz a diferentes niveles de intensidad lumínica.',
    link: 'https://doi.org/10.3390/proceedings2024097149',
    technologies: ['Matlab', 'KiCad', 'BenchVue', 'AvaSoft']
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
