<footer
  class="rounded-lg shadow m-4 bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mt-10"
>
  <div
    class="flex flex-col justify-center items-center w-full mx-auto max-w-screen-xl p-4 md:flex-row md:items-center md:justify-between"
  >
    <span class="text-sm sm:text-center text-purple-800"
      >© 2024 <a href="https://eduardferre.dev/" class="hover:underline"
        >eduardferre</a
      >
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 text-white/90 sm:mt-0"
    >
      <li>
        <a
          href="/#about-me"
          class="hover:underline hover:text-purple-700/80 me-4 md:me-6">About</a
        >
      </li>
      <li>
        <a href="/#contact" class="hover:underline hover:text-purple-700/80"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</footer>
