---
import ThemeToggle from './ThemeToggle.astro'

const navItems = [
  {
    title: 'Experience',
    label: 'experience',
    url: '/#experience'
  },
  {
    title: 'Projects',
    label: 'projects',
    url: '/#projects'
  },
  {
    title: 'About Me',
    label: 'about-me',
    url: '/#about-me'
  },
  {
    title: 'Contact',
    label: 'contact',
    url: '/#contact'
  }
]
---

<header
  class="fixed top-0 z-10 flex justify-center items-center w-full mx-auto mt-2"
>
  <nav
    class="flex px-3 font-medium rounded-full text-xs text-gray-600 dark:text-gray-100 justify-center items-center sm:text-sm"
  >
    {
      navItems.map((link) => (
        <a
          class="relative block px-2 py-2 transition hover:text-purple-900 dark:hover:text-purple-600 sm:px-4 md:px-6"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
    <ThemeToggle />
  </nav>
</header>

<script>
  document.addEventListener('astro:page-load', () => {
    const sections = document.querySelectorAll('section')
    const navItems = document.querySelectorAll('header nav a')

    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute('aria-label') == entry.target.id) {
              item.classList.add('text-purple-600')
            } else {
              item.classList.remove('text-purple-600')
            }
          })
        }
      })
    }

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: '0px',
      threshold: 0.3
    })

    sections.forEach((section) => {
      observer.observe(section)
    })

    // Cleanup function
    document.onvisibilitychange = () => {
      if (document.visibilityState === 'hidden') {
        observer.disconnect()
      } else {
        sections.forEach((section) => {
          observer.observe(section)
        })
      }
    }
  })
</script>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  nav {
    @apply dark:bg-gray-800/50 bg-white/50;
  }

  @keyframes nav-shadown {
    from {
      @apply dark:bg-gray-800/0 bg-white/0;
    }
    to {
      @apply shadow-lg ring-1 backdrop-blur ring-white/10;
    }
  }
</style>
